<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pupil Form</title>
</head>
<body>
  <br>
  <form th:action="@{/processPupilForm}" th:object="${pupil}" method="post" >
    First Name: <input type="text" th:field="*{firstName}"><br></br>
    Last Name: <input type="text" th:field="*{lastName}"><br></br>
    <br><br>
    <select th:field="*{sex}">
      <option value="Boy">Boy</option>
      <option value="Girl">Girl</option>
    </select>

    <input type="submit" value="Submit">

  </form>
</body>
</html>