<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pupil Form</title>
</head>
<body>
  <br>
  <form th:action="@{/processPupilForm}" th:object="${pupil}" method="post" >
    First Name: <input type="text" th:field="*{firstName}"><br></br>
    Last Name: <input type="text" th:field="*{lastName}"><br></br>

    Gender:
    <select th:field="*{sex}">
      <option th:value="Boy">Boy</option>
      <option th:value="Girl">Girl</option>
    </select>
    <br><br>

    City:
    <select th:field="*{city}">
      <option th:each="tempCity : ${cities}"
              th:value="${tempCity}" th:text="${tempCity}">

      </option>
    </select>
    <br><br>

    Favourite Drink:
<!--    <input type="radio" th:field="*{favoriteDrink}" th:value="Tea" th:text="Tea"/>-->
<!--    <input type="radio" th:field="*{favoriteDrink}" th:value="Coffee"-->
<!--           th:text="Coffee"/>-->
<!--    <input type="radio" th:field="*{favoriteDrink}" th:value="Water"-->
<!--           th:text="Water"/>-->
    <input type="radio" th:field="*{favoriteDrink}" th:each="tempDrink : ${drinks}"
    th:value="${tempDrink}" th:text="${tempDrink}" />
    <br><br>

    Favourite Cars:
<!--    <input type="checkbox" th:field="*{favoriteCars}" th:value="BMW">BMW</input>-->
<!--    <input type="checkbox" th:field="*{favoriteCars}" th:value="AUDI">AUDI-->
<!--    </input>-->
    <input type="checkbox"
           th:field="*{favoriteCars}"
           th:each="tempCar : ${cars}"
           th:value="${tempCar}"
           th:text="${tempCar}"
    />
    <br><br>

    <input type="submit" value="Submit">

  </form>
</body>
</html>