<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pupil Confirmation</title>
</head>
<body>
    <h2>Pupil Confirmation</h2>
    <br><br>

    The pupil is: <span th:text="${pupil.firstName} + ' '+ ${pupil.lastName}"/>.
    <br><br>

    This is a <span th:text="${pupil.sex}"/>.
    <br><br>

    Pupil from <span th:text="${pupil.city}"/>.
    <br><br>

    Pupil favorite drink is <span th:text="${pupil.favoriteDrink}"/>.
    <br><br>

    Pupil favorite car(s) is <span th:text="${pupil.favoriteCars}"/>.
    <br><br>

    <ul>
        <li th:each="oneCar : ${pupil.getFavoriteCars()}" th:text="${oneCar}"></li>
    </ul>

    <ol>
        <li th:each="oneCar : ${pupil.getFavoriteCars()}" th:text="${oneCar}"></li>
    </ol>
</body>
</html>